/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/Cardmain/Card.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
@media (max-width: 36em) {.Card_card__zbnIG{
        width: 500
  }
       }
    
    
    @media (max-width: 48em) {.Card_card__zbnIG{
        width: 400
  }
    }
    
    
    @media (min-width: 62em) {.Card_card__zbnIG{
        width: 500
  }
    }
    
    
    @media (min-width: 75em) {.Card_card__zbnIG{
        width: 500
  }
    }
    
    
    @media (min-width: 88em) {.Card_card__zbnIG{
        width: 500
  }
    }

  .Card_gree__uhDin{
    /* background: #00cea8;
    background: linear-gradient(90.13deg, #00cea8 1.9%, #49b98c 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%); */
    padding: 1;
    box-shadow: blue;
    border-radius: 2px;
    border-width: 2 solid  #7f33b1 ;
    transform-style: preserve-3d;
    transform: rotateX(0) rotateY(0);
    animation-duration: 2;
  }
  
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/Cardmain/UserInfoIcons.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.UserInfoIcons_icon__sZk0g {
    color: var(--mantine-color-gray-5);
  }
    [data-mantine-color-scheme='dark'] .UserInfoIcons_icon__sZk0g {
    color: var(--mantine-color-dark-3);
}
    .UserInfoIcons_icon__sZk0g {
    animation-duration: 2;
}
  
  .UserInfoIcons_name__62i7B {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/Cardmain/Link.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Link_customLink__SJg54 {
    text-decoration: none;
    color: gray;
  }
  
  .Link_customLink__SJg54:hover {
    text-decoration: underline; /* Add underline on hover */
  }
